.notifun-code, .notifun-code-block
  font-family: courier, monospace

.notifun-code-block
  padding: 20px
  background-color: #eee
  margin-bottom: 10px

.notifun-preview
  border: 1px solid #ccc
  padding: 10px
